<div>
    <h1>{{titulo}}</h1>
    <div class="bloque">
        {{#each product}}
        <div class="tarjeta">
            <p>ID: {{lookup this 'id'}}</p>
            <p>Descripción: {{lookup this 'description'}}</p>
            <p>Código: {{lookup this 'code'}}</p>
            <p>Precio: {{lookup this 'price'}}</p>
            <p>Stock: {{lookup this 'stock'}}</p>
            <p>Categoría: {{lookup this 'category'}}</p>
            {{#if available}}
                <p>Disponible: SI</p>
            {{else}}
                <p>Disponible: NO</p>
            {{/if}}
            <button type="submit" id="addToCart" class="addToCart" value={{lookup this 'id'}}>Agregar al carrito</button>
        </div>
        {{/each}}
    </div>
    <a href="/products/">Volver</a>
</div>

<script type="text/javascript" src="/js/product.js"></script>