{{#if recover}}
    <div class="row">
        <h1>{{title}}</h1>
        <p>Bienvenido {{email}}, ingrese su nueva contrase침a</p>
        <div class="col-md-6">
            <form action="{{actionChange}}" method="post">
                <input type="password" name="password" placeholder="password" required>
                <input type="hidden" name="email" value="{{email}}">
                <input type="submit" value="Cambiar contrase침a">
            </form>
        </div>
        <div>
            <a href="/"> Volver al inicio</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <h1>{{title}}</h1>
        {{#if recover}}
            <h2>El correo de recuperaci칩n a expirado, ingrese nuevamente su correo</h2>
        {{/if}}
        <div class="col-md-6">
            <form action="{{actionRecover}}" method="post">
                <input type="email" name="email" placeholder="email" required>
                <input type="submit" value="Recuperar contrase침a">
            </form>
        </div>
        <div>
            <a href="/"> Volver al inicio</a>
        </div>
    </div>
{{/if}}