
<div>
    <h1>Productos en tiempo real</h1>
    <div>
        <h2>Agregar Producto:</h2>
        {{!-- <form action="/api/realTimeProducts" method="POST"> --}}
            <form onsubmit="return addProduct(this)">
                <label for="title">Nombre:</label>
                <input type="text" id="title" name="title" required>

                <label for="description">Descripción:</label>
                <input type="text" id="description" name="description" required>

                <label for="code">Código:</label>
                <input type="text" id="code" name="code" required>

                <label for="price">Precio:</label>
                <input type="text" id="price" name="price" required>

                <label for="available">available:</label>
                <input type="text" id="available" name="available" required>

                <label for="stock">Stock:</label>
                <input type="text" id="stock" name="stock" required>

                <label for="category">Categoria:</label>
                <input type="text" id="category" name="category" required>

                <label for="thumbnail">Imagen:</label>
                <input type="file" id="thumbnail" name="thumbnail" accept="image/*" required><br>

                <button type="submit" id="add_Button">Agregar Producto</button>
            </form>

            {{!-- <h2>Borrar Producto</h2>
            <form action="/api/products/" method="DELETE"></form>
            ID:<input type="number" id="iD" placeholder="ID"> ID a elminar</br>
            <button type="button" id="delete_Button" class="swal-button swal-button--confirm">Eliminar item</button>
        </form> --}}
    </div>
    <div>
        <h2>Listado de Productos:</h2>
        <div class="bloque">
            {{#each products}}
            <div class="tarjeta">
                <p>ID: {{this.id}}</p>
                <p>Titulo: {{this.title}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Código: {{this.code}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Categoría: {{this.category}}</p>
            </div>
            {{/each}}
        </div>
    </div>

</div>



